* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #457b9d;
}

.aboutdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
}
.headcolor {
  color: #a8dadc;
  text-shadow: 0 8px 32px 0 #1d3557;
}
.placeabout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
}
.myinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.mypic {
  height: 60vh;
  width: 60vw;
  padding: 20px;
  transition: 0.6s;
}
.mypic:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #a8dadc;
  transition: 0.6s;
}

.aboutinfo {
  padding: 20px;
}

.bio {
  color: #1d3557;
  font-size: 20px;
  padding: 20px;
  width: 80%;
}
.mydetailsicons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.detailicons {
  display: flex;
  flex-direction: column;
}
.di1 {
  width: 50%;
}
.di2 {
  width: 50%;
}
.mydetails {
  color: #1d3557;
  padding: 5px 10px;
  margin: 2%;
  font-size: 20px;
}
.inputdetails {
  font-size: 15px;
}
.abouticons {
  color: #a8dadc;
  font-size: 20px;
}

.btn {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  font-size: 15px;
}
.btn:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #1d3557;
  transition: 0.6s;
  font-size: 22px;
  width: 13vw;
}
.resume {
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
}
h3 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #1d3557;
  padding-left: 5%;
}
.about-content {
  display: none;
}

.about-content.active {
  display: grid;

  background-attachment: fixed;
  transition: 0.6s;

  justify-content: center;

  padding: 20px;
  margin: 20px;

  border-radius: 10px;
  height: 200vh;
  overflow-y: auto;
}

.linebtn {
  text-decoration: none;
  font-size: 15px;
  color: #1d3557;
  background-color: #a8dadc;

  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  border-color: #1d3557;
}

.linebtn:hover {
  background-color: #1d3557;
  color: #a8dadc;
  border-color: #1d3557;
  transition: 0.6s;
}

.resbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  position: sticky;
}

.line {
  width: 10px;
  color: #1d3557;
  justify-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 15;
  background-color: #1d3557;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #1d3557;
  color: #a8dadc;
  justify-content: center;
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
  font-size: 25px;
  transition: 0.6s;
}
.input:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #a8dadc;
  transition: 0.6s;
}
h6 {
  font-size: 30px;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.skillsicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 2%;
}

.skillicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 30px;
  color: #1d3557;
}

.fab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  transition: 0.6s;
  color: #a8dadc;
  text-decoration: none;
}

.fa-html5:hover {
  color: #e34c26;
  transition: 0.6s;
}
.fa-css3-alt:hover {
  color: #2965f1;
  transition: 0.6s;
}
.fa-python:hover {
  color: #4b8bbe;
  background-color: #ffe873;
  border-radius: 20px;
  transition: 0.6s;
}
.fa-instagram:hover {
  color: #bc2a8d;
  transition: 0.6s;
}
.iconword {
  color: #1d3557;
}

.item1 {
  grid-column: 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 3;
}

.item4 {
  grid-column: 1;
  grid-row: 4;
}

.item5 {
  grid-column: 1;
  grid-row: 1;
}
.item6 {
  grid-column: 3;
  grid-row: 2;
}
.item7 {
  grid-column: 1;
  grid-row: 3;
}
.item8 {
  grid-column: 3;
  grid-row: 4;
}
.item9 {
  grid-column: 1;
  grid-row: 5;
}
.item10 {
  grid-column: 3;
  grid-row: 6;
}
.item11 {
  grid-column: 1;
  grid-row: 7;
}
.item12 {
  grid-column: 3;
  grid-row: 1;
}
.item13 {
  grid-column: 1;
  grid-row: 2;
}
.item14 {
  grid-column: 3;
  grid-row: 3;
}
.item15 {
  grid-column: 1;
  grid-row: 4;
}

@media screen and (max-width: 800px) {
  .navbar-anchor{
    font-size: 13px;
  }
  .navbar-links.active{
    width: 50%;
  }
  h1{
    font-size: 40px;
    margin: 0;
    
  }
  .mypic{
    display: none;
  }
  .aboutdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  } 
  .placeabout{
    width: 90%;
    height: 150vh;
    padding: 5px;
    margin: 5px;
  }
 
  .myinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
  }

  .bio{
    
    font-size: 16px;
    padding: 10px;
    margin-left: 5%;
  }
  .mydetails{
    font-size: 10px;
  }




  
  
}