* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 100px;
  color: #000000;
  margin-bottom: 2%;
}
.headcolor {
  color: #15b9f4;
}
.myinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 20%;
}

.mypic {
  height: 60vh;
  width: 60vw;
  padding: 20px;
  transition: 0.6s;
}
.mypic:hover {
  background-color: #15b9f4;
  color: #000000;
  border-color: #15b9f4;
  transition: 0.6s;
}

.aboutinfo {
  padding: 20px;
}

.bio {
  color: #000000;
  font-size: 20px;
  padding: 20px;
  width: 80%;
}
.mydetailsicons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;
}
.detailicons {
  display: flex;
  flex-direction: column;
}
.di1 {
  margin-left: 10%;
}
.mydetails {
  color: #000000;
  padding: 5px 10px;
  margin: 2%;
  font-size: 20px;
}
.inputdetails {
  font-size: 15px;
}
.abouticons {
  color: #15b9f4;
  font-size: 20px;
}

.btn {
  color: #15b9f4;
  border: 2px solid #15b9f4;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  font-size: 15px;
}
.btn:hover {
  background-color: #15b9f4;
  color: #000000;
  border-color: #000000;
  transition: 0.6s;
  font-size: 22px;
  width: 13vw;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #000000;
  padding-left: 5%;
}
.about-content {
  display: none;
}

.about-content.active {
  display: grid;

  background-attachment: fixed;
  transition: 0.6s;

  justify-content: center;

  padding: 20px;
  margin: 20px;

  border-radius: 10px;
  height: 200vh;
  overflow-y: auto;
}

.linebtn {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  background-color: #15b9f4;

  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  border-color: #000000;
}

.linebtn:hover {
  background-color: #000000;
  color: #15b9f4;
  border-color: #000000;
  transition: 0.6s;
}

.resbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  position: sticky;
}

.line {
  width: 10px;
  color: #000000;
  justify-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 15;
  background-color: #000000;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000000;
  color: #15b9f4;
  justify-content: center;
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
  font-size: 25px;
  transition: 0.6s;
}
.input:hover {
  background-color: #15b9f4;
  color: #000000;
  border-color: #15b9f4;
  transition: 0.6s;
}
h6 {
  font-size: 30px;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.skillsicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
}

.skillicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 30px;
}

.fab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  transition: 0.6s;
  color: #15b9f4;
  text-decoration: none;
}

.fa-html5:hover {
  color: #e34c26;
  transition: 0.6s;
}
.fa-css3-alt:hover {
  color: #2965f1;
  transition: 0.6s;
}
.fa-python:hover {
  color: #4b8bbe;
  background-color: #ffe873;
  border-radius: 20px;
  transition: 0.6s;
}
.fa-instagram:hover {
  color: #bc2a8d;
  transition: 0.6s;
}
.iconword {
  color: #000000;
}

.item1 {
  grid-column: 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 3;
}

.item4 {
  grid-column: 1;
  grid-row: 4;
}

.item5 {
  grid-column: 1;
  grid-row: 1;
}
.item6 {
  grid-column: 3;
  grid-row: 2;
}
.item7 {
  grid-column: 1;
  grid-row: 3;
}
.item8 {
  grid-column: 3;
  grid-row: 4;
}
.item9 {
  grid-column: 1;
  grid-row: 5;
}
.item10 {
  grid-column: 3;
  grid-row: 6;
}
.item11 {
  grid-column: 1;
  grid-row: 7;
}
.item12 {
  grid-column: 3;
  grid-row: 1;
}
.item13 {
  grid-column: 1;
  grid-row: 2;
}
.item14 {
  grid-column: 3;
  grid-row: 3;
}
.item15 {
  grid-column: 1;
  grid-row: 4;
}
