#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

h1 {
  font-size: 100px;
  color: #000000;
  margin-bottom: 2%;
}

.headcolor {
  color: #15b9f4;
}
.contacticons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cntctme {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #000000;
  font-size: 18px;
}
.cnticn {
  padding: 15px;
  background-color: #15b9f4;
  color: #000000;
  border-radius: 50px;
}
.form-labels {
  display: none;
}
.formstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.yourinfo {
  display: flex;
  flex-direction: row;
}
