#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

body{
  background-color: #457b9d;
}
.section{
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px;
  margin: 50px;
  height: 150vh;
}

h1 {
  font-size: 100px;
  color: #1d3557;
  margin-bottom: 2%;
}

.headcolor {
  color: #a8dadc;
}
.contacticons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #457b9d;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
  color: #a8dadc;
}
.cntctme {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #1d3557;
  font-size: 18px; 
}
#contact-form{

  background: #457b9d;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
  height: 80vh;


}
.cnticn {
  padding: 15px;
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 50px;
}
.form-labels {
  display: none;
}
.formstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #a8dadc;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
}
.yourinfo {
  display: flex;
  flex-direction: row;
}
.dsply{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contactdetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
h3{
  font-size: 30px;
}
.txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  color: #a8dadc;
}

.msg{
  width: 100%;
  height: 15vh;
}