#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

body{
  background-color: #457b9d;
}
.section{
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px;
  margin: 50px;
  height: 150vh;
}

h1 {
  font-size: 100px;
  color: #1d3557;
  margin-bottom: 2%;
}

.headcolor {
  color: #a8dadc;
}
.contacticons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #457b9d;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
  color: #a8dadc;
}
.cntctme {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #1d3557;
  font-size: 18px; 
}
#contact-form{

  background: #457b9d;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
  height: 80vh;


}
.cnticn {
  padding: 15px;
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 50px;
}
.form-labels {
  display: none;
}
.formstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #a8dadc;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  margin: 50px;
}
.yourinfo {
  display: flex;
  flex-direction: row;
}
.dsply{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contactdetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
h3{
  font-size: 30px;
  text-shadow: 3px 3px 3px #1d3557;
  margin-bottom: 10px;
  margin-top: 10px;
}
.txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  color: #a8dadc;
}

.msg{
  width: 95%;
  height: 15vh;
}

.form-input{
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: #f1faee;
}

.btn {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #f1faee;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  
  width: 10vw;
  transition: 0.6s;
 
  font-size: 13px;
}

.btn:hover {
  color: #1d3557;
  border: 2px solid #457b9d;
  background-color: #f1faee;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fab{
  color: #a8dadc;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.6s;
}
.fab:hover{
  color: #1d3557;
  background-color: #a8dadc;
  border-radius: 50%;
  transition: 0.6s;
}

@media screen and (max-width: 800px) {
  *{
    padding: 0;
    margin: 0;
  }
  .navbar-anchor{
    font-size: 13px;
  }
  .navbar-links.active{
    width: 50%;
  }
  .section{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
  }
  h1{
    font-size: 40px;
  }
  .contactdetails{
    width: 90%;
  }
  .contacticons{
    font-size: 10px;
    margin: 10px;
    
  }
  .cnticn{
    padding: 5px;
  }

  .cntctme{
    
    width: 50%;
  }
  .formstyle{
    width: 55vw;
  }
  .yourinfo{
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .form-input{
    justify-content: center;
    width: 80%;
    font-size: 10px;
  }
  .dsply{
    display: flex;
    flex-direction: row;
    width: 40%;
  }
  #contact-form{
    height: 80%;
    width: 100%;
  }
  .txt{
    font-size: 16px;
  }
}