* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.fullpage {
  background-image: url(/images/cliff.jpg), radial-gradient(#a8dadc, #1d3557);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.homedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 10%;
  text-shadow: 3px 3px 3px #a8dadc;
  overflow: hidden;
}
.headcolor {
  color: #a8dadc;
  text-shadow: 3px 3px 3px #1d3557;
}
.typed-text {
  color: #a8dadc;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0px 0px 3px #1d3557;
}
.homestatement {
  color: #1d3557;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 3px 3px 3px #a8dadc;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #1d3557;
  animation: blink 1s infinite;
}
.typing {
  animation: none;
}

.btn {
  color: #1d3557;
  border: 2px solid #1d3557;
  background-color: #a8dadc;
  border-radius: 50px;
  padding: 10px;
  margin-top: 2%;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}

.btn:hover {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #1d3557;
  border-radius: 50px;
  padding: 10px;
  margin-top: 2%;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
}
.btntxt {
  display: flex;
  justify-content: center;
  transition: 0.6s;
  text-decoration: none;

  color: #1d3557;
  border: 2px solid #1d3557;
  background-color: #a8dadc;
  border-radius: 50px;
  padding: 10px;
  margin-top: 2%;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}
.btntxt:hover {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #1d3557;
  transition: 0.6s;
}

.footer {
  background-color: #457b9d;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  
}
.footerbtn {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background: none;

  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}

.footerbtn:hover {
  background: none;
  border: 2px solid #f1faee;
  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
}

.footerbtntxt {
  text-decoration: none;
  color: #a8dadc;
  transition: 0.6s;
}
.footerbtntxt:hover {
  text-decoration: none;
  color: #f1faee;
  transition: 0.6s;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}

.fab {
  color: #a8dadc;
  font-size: 25px;
  transition: 0.6s;
}
.fab:hover {
  color: #f1faee;
  transition: 0.6s;
}
@keyframes blink {
  0% {
    background-color: #1d3557;
  }
  49% {
    background-color: #1d3557;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1d3557;
  }
}

@media screen and (max-width: 800px) {
  .homedetails {
    justify-content: space-around;
    height: 100vh;
  }
  h1 {
    font-size: 70px;
    margin-left: 10%;
  }

  .btntxt {
    margin-bottom: 65%;
    width: 30%;
  }

  .footer {
    height: 50px;
    padding: 5px;
  }
  .footertxt {
    font-size: 16px;
  }
}


/* navbar for landing */
.tooltip {
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  width: 150px;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  margin-right: 20px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: 0.3s;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #a8dadc;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 60px;
  height: 0;
  /* overflow: hidden;  */
  opacity: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.6s linear;
  z-index: 100;
  margin-top: 20px;
}
.navbar-links.active {
  height: 40%;
  z-index: 100;
  top: 60px;
  right: 50px;
  opacity: 5;
}

.navbar-button {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
  font-size: 15px;
  background: #1d3557;
  color: #a8dadc;
  border: none;
  border-radius: 5px;
  outline: none;
  /* padding: 20px; */
  width: 60px;
  height: 60px;
  transition: 0.3s;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #a8dadc;
  transition: 0.6s;
  
}

.navbar-anchor {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #1d3557;
  font-size: 15px;
  transition: 0.6s;
  padding: 1px 1px;
}
.navbar-anchor:hover {
  color: #a8dadc;
  transition: 0.1s;
  background-color: #1d3557;

  border-radius: 5px;
}

.section {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media screen and (max-width: 800px) {
  .navbar-button {
    top: 20px;
    right: 20px;
  }
  .navbar-links {
    top: 20px;
    right: 20px;
  }
  .navbar-links.active {
    top: 30px;
    right: 20px;
  }
}
