* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.fullpage {
  background-image: url(/images/cliff.jpg);
  background-size: cover;
}

.homedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

h1 {
  font-size: 100px;
  color: #000000;
  margin-bottom: 2%;
}
.headcolor {
  color: #15b9f4;
}
.homestatement {
  color: #000000;
  font-size: 25px;
}

.btn {
  color: #15b9f4;
  border: 2px solid #15b9f4;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
}

.btntxt {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 15px;
}

.btn:hover {
  background-color: #15b9f4;
  color: aliceblue;
  border-color: #15b9f4;
  transition: 0.6s;
}
