* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullpage {
  background-image: url(/images/cliff.jpg);
  background-size: cover;
}

.homedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
}
.headcolor {
  color: #a8dadc;
  text-shadow: 3px 3px 3px #1d3557;
}
.homestatement {
  color: #1d3557;
  font-size: 20px;
  font-weight: 700;
}

.btn {
  color: #1d3557;
  border: 2px solid #1d3557;
  background-color: #a8dadc;
  border-radius: 50px;
  padding: 10px;
  margin-top: 2%;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}

.btn:hover {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #1d3557;
  border-radius: 50px;
  padding: 10px;
  margin-top: 2%;
  text-decoration: none;
  width: 10vw;
  transition: 0.6s;
}
.btntxt {
  transition: 0.6s;
  text-decoration: none;
}
.btntxt:hover {
  color: #a8dadc;
  text-decoration: none;
  font-size: 15px;
  transition: 0.6s;
}

.footer{
  background-color: #457b9d;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  
}
.footerbtn{
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background: none;
 
  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}

.footerbtn:hover {
  
  background:none;
  border: 2px solid #f1faee;
  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
}

.footerbtntxt{
  text-decoration: none ;
  color: #a8dadc;
  transition: 0.6s;
  
}
.footerbtntxt:hover{
  text-decoration: none ;
  color: #f1faee;
  transition: 0.6s;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  
  
}

.fab{
  color: #a8dadc;
  font-size: 25px;
  transition: 0.6s;
}
.fab:hover{
  color: #f1faee;
  transition: 0.6s;
}




@media screen and (max-width: 800px) {
  /* .navbar-links.navbar-links.active {
    width: 50%;
    height: 25%;
  }
  .btn {
    width: 20vw;
  }
  .btntxt {
    font-size: 10px;
  }
  .btntxt:hover {
    color: #a8dadc;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s;
  } */



 
  .navbar-anchor{
    font-size: 13px;
  }
  .navbar-links.active{
    width: 50%;
  }
  
  .btn{
    width: 50%;
  }
  .btn:hover{
    width: 50%;
  }


  .footerbtn{
   width: 100%;
  }
  .footerbtntxt{
    font-size: 13px;
  }
  .links{
    width: 50%;
  }

}
