* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullpage {
  background-image: url(/images/cliff.jpg);
  background-size: cover;
}

.homedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
}
.headcolor {
  color: #a8dadc;
  text-shadow: 3px 3px 3px #1d3557;
}
.homestatement {
  color: #1d3557;
  font-size: 20px;
  font-weight: 700;
}

.btn {
  color: #1d3557;
  border: 2px solid #1d3557;
  background-color: #a8dadc;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;

  
  color: #1d3557;
  font-weight: 900;
  font-size: 13px;
}

.btn:hover {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #1d3557;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;

  
}
.btntxt {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  color: #1d3557;
  font-size: 13px;
  
}
.btntxt:hover{
  color: #a8dadc;
  text-decoration: none;
  font-size: 15px;
  transition: 0.6s;

}

