* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid; */
}

.navbar-links {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  background: rgb(192, 214, 255);
  position: fixed;
  top: -100%;
  right: -100%;
  width: 15vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.6s linear;
}

.navbar-links.active {
  top: 25px;
  right: 25px;
  transition: all 0.3s linear ;
}

.navbar-button {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}
