* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid;  */
}

.navbar-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: #a8dadc;
  border-radius: 20px;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.6s linear;
  z-index: 100;

}
.navbar-links.active {
  width: 15vw;
  height: 30vh;
  z-index: 100;
}

.navbar-button {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  font-size: 15px;
  background: #1d3557;
  color: #a8dadc;
  border: none;
  border-radius: 5px;
  outline: none;
  /* padding: 20px; */
  width: 40px;
  height: 40px;
  transition: 0.6s;
}

.navbar-button:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #a8dadc;
  transition: 0.6s;
  transform: rotate(360deg);
}

.navbar-anchor {
  text-decoration: none;
  color: #1d3557;
  font-size: 15px;
  transition: 0.6s;
}
.navbar-anchor:hover {
  color: #a8dadc;
  background-color: #1d3557;
  transition: 0.6s;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.section{
  animation: transitionIn 0.75s;
}

@keyframes transitionIn{

  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media screen and (max-width: 800px) {
  .navbar-links.navbar-links.active {
    width: 50%;
    height: 25%;
  }
}
