* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #457b9d;
}
.section {
  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  
}
.headcolor {
  color: #a8dadc;
}
.placeport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cards {
  width: 1200px;
  margin: 20px;
  columns: 3;
  column-gap: 40px;
}
.card {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
}
.clickpic {
  max-width: 100%;

}

.clickpic:hover {
  
  cursor: pointer;
/* 
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}

.modal {
  display: none;
  height: 50%;
}

.modal.active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid #a8dadc;

  flex-direction: column;
  flex: 1 1 200px;
  flex: 0 1 200px;

  margin: 2%;
  padding: 1%;

  width: 50%;
  min-width: 300px;
}

h2 {
  color: #1d3557;
  text-shadow: 3px 3px 3px #a8dadc;
}
h3 {
  color: #1d3557;
  text-shadow: 3px 3px 3px #a8dadc;
}
p {
  color: #1d3557;
  text-shadow: 3px 3px 3px #f1faee;
}
.img {
  height: 50%;
  width: 100%;
  border-radius: 10px;
}

.btn1 {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 10px 20px;
  width: 45%;
  margin-right: 1%;
  color: black;
  text-decoration: none;
}

.btn2 {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 10px 20px;
  width: 45%;
  margin-right: 1%;
}

.btns {
  display: flex;
  color: #1d3557;
  text-decoration: none;
}

.modalbtn {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  font-size: 40px;

  color: #f1faee;

  outline: none;

  transition: 0.6s;
}

.modalbtn:hover {
  transform: rotate(360deg);
}
.btn1:hover {
  box-shadow: 0 8px 32px 0 #1d3557;
}
.btn2:hover {
  box-shadow: 0 8px 32px 0 #1d3557;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }
  .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    flex: 0 1 200px;
  }
}
