body {
  background-color: #457b9d;
}
.section {
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
}
h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headcolor {
  color: #a8dadc;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  max-height: 50vh;
  margin: 40px; /* Adjustment for the gutter */
  width: 95%;
}
img {
  margin: 0 8px 8px 0; /* Some gutter */
}

.modal {
  display: none;
}

.modal.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
