* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #457b9d;
}

.projdetails {
  background: white;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
  height: 100%;
}

h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  text-align: center;
}
.headcolor {
  color: #a8dadc;
}

.card {
  columns: 3;
  column-gap: 20px;
  width: 100%;
  margin: 20px auto;
}

/* Parent Container */
.content_img {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  transition: ease-in 0.3s;
  transform: scale(1);
  overflow: hidden;
  
}
.clickpic{
  max-width: 100%;
  
  
}


/* Child Text Container */
.content_img div {
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 120px;
  text-align: center;
  
  color: white;
  
  background: radial-gradient(#a8dadc 5%,  #1d3557 30%);
  width: 100%;
  height: 100%;  
  visibility: hidden;
  
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.3s;
  
  overflow: hidden;
}

.content_img:hover div {
  
  visibility: visible;
  opacity: 0.7;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 20px;

  
  bottom: 0px;
  left: 0px;
}
.footertxt {
  color: #1d3557;
  font-family: sans-serif;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 5%;
}

.fbtns {
  font-size: 20px;
  text-decoration: none;
  color: #1d3557;
}
.fbtns:hover {
  color: #a8dadc;
}
.footerbtn {
  color: #1d3557;
  border: 2px solid #1d3557;
  background: none;

  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
}

.footerbtn:hover {
  background: none;
  border: 2px solid #a8dadc;
  border-radius: 50px;
  width: 10vw;
  transition: 0.6s;
}

.footerbtntxt {
  text-decoration: none;
  color: #1d3557;
  transition: 0.6s;
}
.footerbtntxt:hover {
  text-decoration: none;
  color: #a8dadc;
  transition: 0.6s;
}


.modal {
  display: none;
  height: 50%;
  width: 50%;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid #a8dadc;

  flex-direction: column;
  flex: 1 1 200px;
  flex: 0 1 200px;

  margin: 2%;
  padding: 1%;
}

.modal.active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img {
  object-fit: contain;
}

.modalbtn {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  font-size: 40px;

  color: white;

  outline: none;

  transition: 0.6s;
}

.modalbtn:hover {
  transform: rotate(360deg);
}

h2 {
  color: #1d3557;
  text-shadow: 3px 3px 3px #a8dadc;
}
h3 {
  color: #1d3557;
  text-shadow: 3px 3px 3px #a8dadc;
}
p {
  color: #1d3557;
  text-shadow: 3px 3px 3px white;
}

.btn1 {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 10px 20px;
  width: 45%;
  margin-right: 1%;
  color: black;
  text-decoration: none;
}
.btn1:hover {
  box-shadow: 0 8px 32px 0 #1d3557;
}

.btn2 {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 10px 20px;
  width: 45%;
  margin-right: 1%;
}
.btn2:hover {
  box-shadow: 0 8px 32px 0 #1d3557;
}

.btns {
  display: flex;
  color: #1d3557;
  text-decoration: none;
}


