body {
  background-color: #457b9d;
}
.section {
  background: #f1faee;
  box-shadow: 0 8px 32px 0 #f2e29f;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
  height: 100vh;
}
h1 {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
.headcolor {
  color: #a8dadc;
  text-shadow: 0 8px 32px 0 #1d3557;
}

.container {
  background: #457b9d;
  box-shadow: 0 8px 32px 0 #a8dadc;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  font-size: x-large;
  padding: 20px;
  margin-top: 5%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  text-shadow: #555;
  padding: 20px;
}
.pics img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  border: solid 5px #a8dadc;
  box-shadow: 0 4px 15px 0 #f1faee;
}

.name {
  color: #1d3557;
  text-shadow: 3px 3px 3px #a8dadc;
}

.title {
  color: #a8dadc;
}

.message {
  font-style: italic;
  color: #f1faee;
}

@media screen and (max-width: 800px) {
  .section{
    width: 100%;
  }

  h1{
    font-size: 40px;
  }

  .owl-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }
  .container{
    display: flex;
  flex-direction: column-reverse;
  flex: 1 1 200px;
  flex: 0 1 200px;
  }
  .name{
    font-size: 25px;
  
  }
  .title{
    font-size: 20px;

  }
  .message{
    font-size: 16px;
  }
  
}
